@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --main-font: "GmarketSansMedium";
  --bold-font: "GmarketSansBold";
  --title-font: "OTEnjoystoriesBA";
  --footer-font: "Noto Sans KR";
  --main-font-color: #fff;
  --main-color: #5b2386;
  --sub-color: #f5df4d;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: auto;

  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: normal;
  color: var(--main-font-color);
  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span {
  font-family: var(--bold-font);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/* header */
header {
  width: 100%;
  height: 12.6rem;
  margin: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-clock {
  position: absolute;
  width: 12.5rem;
  height: 12.6rem;
  z-index: 1;
}

.img-title {
  position: absolute;
  width: 26.7rem;
  height: 5.3rem;
  z-index: 2;
}
/* end header */

/* main */
.title-1 {
  font-family: var(--title-font);
  font-size: 2.2rem;
  line-height: 2.42rem;
  color: var(--sub-color);
}
.qutn-field {
  text-align: center;
  background: url(../img/quotes.png) no-repeat;
  background-size: 30.2rem;
  background-position: center;
}
.qutn {
  height: 6.8rem;
  font-size: 1.4rem;
  line-height: 200%;
  font-weight: 400;
}

.qutn span {
  font-weight: 700;
}

.input-field {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 250%;
}

.input-field input {
  width: 15.6rem;
  height: 3.7rem;
  border-radius: 0.7rem;
  text-align: center;
  color: #fff;
  border: 0;
}

input::placeholder {
  color: #babcbe;
}

button {
  background-color: var(--sub-color);
  color: var(--main-color);
  font-family: var(--bold-font);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4rem;
  border: 0;
  box-shadow: 0px 0px 10px 0px #00000080;
}

.check-button > button {
  width: 24.1rem;
  height: 6.8rem;
  border-radius: 13px;
  padding: 1.9rem 3.65rem;

  font-size: 1.4rem;
  line-height: 1.4rem;
}

.check-button {
  height: 6.9rem;
  background: url(../img/click.png) no-repeat;
  background-size: 4.3rem 4.8rem;
  background-position: right bottom;
}

.text-field span {
  font-size: 2.4rem;
  line-height: 200%;
  vertical-align: middle;
}

.button-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 8rem;
}

.modal-button {
  width: 18.6rem;
  height: 4rem;
  border-radius: 5.6rem;
}

.share-button {
  width: 9.2em;
  height: 4rem;
  border-radius: 5.6rem;
  background-color: #fff;
}
/* end main */

/* footer */
footer img {
  width: 9.1rem;
  height: 1.8rem;
}
footer p {
  font-family: "Noto Sans KR";
  font-size: 0.9rem;
  line-height: 1.303rem;
}
/* end footer */

.modal {
  display: none;
}

/* 태블릿 이상 일 때 */
@media (min-width: 768px) {
  main {
    gap: 10rem;
  }
  header {
    height: 26.5rem;
  }
  .img-clock {
    width: 26.1rem;
    height: 26.5rem;
  }

  .img-title {
    width: 56.4rem;
    height: 11.2rem;
  }

  .title-1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 3.96rem;
  }

  .qutn-field {
    background-size: 49.3rem;
  }
  .qutn-field span,
  .input-field,
  .input-field input,
  .check-button button,
  .text-field,
  button {
    font-size: 2.4rem;
  }

  .qutn {
    font-size: 1.8rem;
  }

  .input-field > p {
    white-space: nowrap;
  }

  .input-field input {
    width: 22.8rem;
    height: 5.7rem;
  }

  .check-button {
    width: 90vmin;
    height: 11vmin;
    background-size: 6.4rem 7.2rem;
  }

  .check-button button {
    width: 56.5rem;
    height: 6.6rem;
  }

  .text-field span {
    font-size: 7.2rem;
  }

  .modal-button {
    width: 35.6rem;
    height: 6.6rem;
  }

  .share-button {
    width: 19.1rem;
    height: 6.6rem;
  }

  .footer img {
    width: 23.5rem;
    height: 2.5rem;
  }

  .footer {
    font-size: 1.2rem;
    line-height: 1.738rem;
    margin-bottom: 6rem;
  }
}
