@import url(./reset.css);
@import url(./font.css);

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  font-size: 10px;
}

/* start modal */
.modal {
  /* display: none; */
  width: 80rem;
  height: 80rem;
  border-radius: 3rem;
  background-color: #fff;
  box-shadow: 0rem 0rem 2rem 0rem #00000080;
  max-width: calc(100% - 6rem);
  font-family: "OTEnjoystoriesBA";
  color: #5b2386;
}

.modal_popup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-text {
  font-size: 3.6rem;
  font-weight: 70rem;
  line-height: 3.96rem;
}

.modal-text > span {
  font-size: 9.6rem;
  font-weight: bold;
  line-height: 10.56rem;
}

.img-licat {
  width: 43, 3rem;
  height: 33.7rem;
  margin-bottom: 7.8rem;
}

.modal-button {
  width: 50.8rem;
  height: 6.6rem;
  border-radius: 5.6rem;
  background-color: #fcee21;

  color: #5b2386;
  font-family: "GmarketSansBold";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
/* end modal */

/* 최대 1400px까지 스타일 적용 */
@media (max-width: 1920px) {
  /* 스타일 */
}

/* 최소 500px부터 스타일 적용 */
@media (min-width: 360px) {
  /* 스타일 */
}
